@charset "utf-8";
/* html, body{scroll-behavior: smooth;} */
#intro_m{
  width: 100%; height: 100vh; overflow: hidden;
  color: var(--m_bg_color);
}

#intro_m article{
  position: absolute; width: 100%;
  top: 30%;
  z-index: 100;
  text-align: center;
  font-size: var(--f_size2);
}
#intro_m article p{line-height: 80px;}
#intro_m article a{
  color: var(--m_bg_color);
  font-size: var(--f_size1);
  text-decoration: underline;
  padding: 5px 10px;
}
#intro_m article a:first-of-type{
  background-color: var(--s_color1);
}

.next_page{
  width: 30px; height: 30px;
  border-left: 2px solid var(--m_bg_color);
  border-bottom: 2px solid var(--m_bg_color);
  position: absolute;
  bottom: 40px; left: 50%;
  z-index: 1001;
  transform: rotate(-45deg);
}

/* section 공통 제목 서식 */
.sec_title{
  font-size: 60px; font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}
.sec_title2{
  font-size: 30px; font-weight: bold;
  padding-bottom: 20px;
  /* text-align: center; 부모한테 주면 하위 요소들도 text-align: center가 됨 */
}
.p01{
  /* text-align: center; */
  font-size: var(--f_size2);
  line-height: 50px;
}
/* 각 섹션별 여백설정 */
#top3, #event, #buy, #cs{margin: 150px auto; width: 1200px; text-align: center;}
/* ////////////////////////////////////////////////////////////////////////// */
/* 2. top3 콘텐츠 서식 */
#top3{position: relative; overflow: hidden;}
.top3{
  position: relative;
  margin-top: 50px;
  padding: 20px 0px 50px 0px;
}
.top3 .swiper-wrapper{
  width: 100%; height: 100%;
}
.top3 .swiper-slide img{transition: 0.8s;}
.top3 .swiper-slide-active img{
  transform: scale(1.3);
}
.top3 .swiper-button-prev, .top3 .swiper-button-next{
  color:rgba(0,0,0,.5);
  font-weight: bold;
}
.top3 .swiper-pagination-bullet{
  background-color: var(--f_color1);
  width: 70px; height: 7px;
}
.top3 .rank{
  color: #327186;
  border: 1px solid #327186;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: var(--f_size1);
}
.top3  .top3_title{
  font-size: 26px;
  font-weight: 500;
  padding-top: 30px;
  color: var(--s_color1);
}
.top3 img{
  padding: 80px 0px;
  width: 400px;
}
.top3 .detail{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.top3 .detail li{
  width: 190px;
  border-right: 1px solid #333;
  padding: 0px 20px;
  font-size: var(--f_size2);
  line-height: 20px;
  text-align: left;
}
.top3 .detail li:last-child{
  border: none;  padding-top: 6px;
}
.top3 .price{
  font-size: 32px; font-weight: 500;
  color: #043e96;
}
.outer_color, .inner_color{
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 56px; height: 40px;
  text-indent: -9999px;
}
.kaki{background-color: #494b32;}
.black{background-color: #000;}
.white{background-color: #fff; border: 1px solid #333;}
.orange{background-color: #be5600;}
/* 버튼서식 */
.btn{
  border: 1px solid #333;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

/* 3. 소개 intro */
#intro{
  height: 860px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
#intro .sec_title2{
  position: absolute; top: 50px;
  z-index: 100;
  width: 100%;
  text-align: center;
}
#intro .intro_title_left, #intro .intro_title_right{
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.act1{animation: ani1 4s forwards}
.act2{animation: ani 4s forwards}
@keyframes ani1{
  0%{opacity: 0;}
  70%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes ani2{
  0%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 1;}
}

#intro .intro_title_left{
  top: 200px; left: 130px; text-align: left;
  animation: ani1 5s;
}
#intro .intro_title_right{
  bottom: 200px; right: 150px; text-align: right;
  animation: ani2 5s;
}
#intro video{
  width: 100%;
  position: relative;
  top: -100px;
}
#intro .btn{
  position: absolute; z-index: 100;
  bottom: 60px; left: 50%; transform: translateX(-50%);
}

/* 4. 시승신청 */
.test_drive{text-align: center; margin: 150px 0;}
.test_drive article{
  width: 430px; height: 280px;
  padding: 15px; margin-top: 50px;
  border: 1px solid var(--s_color4);
  display: inline-block;
  vertical-align: middle; /* .test_drive .test_d_btn2에 display: block을 주면 서로 위치 값이 달라지는데 이를 맞추기 위해 써준다. */
}
.test_drive article h3{
  font-size: 24px;
  padding-top: 20px;
  font-weight: bold;
  line-height: 40px;;
}
.test_drive article p{
  font-size: var(--f_size1);
  line-height: 20px;
  padding: 20px 0px;
  font-weight: bold;
  margin-bottom: 30px;
}
.test_drive .test_d_p{
  color: rgba(0,0,0,.6);
  font-weight: normal;
  transform: translateY(50px);
}
.test_drive .test_drive_l .test_d_p{transform: translateY(38px);}
.test_drive .test_d_btn1{
  background-color: var(--s_color1);
  color: var(--m_bg_color);
  line-height: 30px;
  padding: 10px 60px;
}
.test_drive .test_d_btn2{
  display: block;
  position: relative; top: 20px;;
  color: var(--s_color3);
}
.test_drive .test_drive_l{margin-right: 30px;}

/* 5. 이벤트 */
#event{
  width: 100%; padding: 50px 0;
  background-color: #eaeaea;
}
#event .event{
  width: 1200px; margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}
#event .swiper-pagination-bullet{
  width: 10px; height: 10px; border-radius: 50%;
  transition: 0.4s; color: #333;
}
#event .swiper-pagination-bullet-active{
  width: 40px; border-radius: 5px;
}

/* 6. 캐스퍼 구매 안내 */
#buy h3{font-size: 24px; font-weight: bold; padding-top: 50px;}
#buy h3 .t_color{color: var(--s_color3);}
#buy ul{
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}
#buy ul li{
  padding: 30px 40px 0px 40px;
}
#buy ul li h4{font-size: var(--f_size2); font-weight: bold; line-height: 60px;}
#buy ul li img{width: 70px;}
#buy ul li p{font-size:13px; line-height: 20px; padding-top: 20px;}
#buy iframe{width: 100%; height: 600px; margin-top: 45px;}

/* 7. 고객지원 */
#cs{
  background-color: #eaeaea;
  width: 100%; padding: 80px 0px;
}
#cs > article, #cs > ul, #cs > .random_banner{
  width: 1200px; margin: 0 auto;
  background-color: var(--m_bg_color);
  margin: 23px auto;
}
#cs > article > h3{
  font-size: 18px;
  text-align: center;
  padding: 60px 0px 20px 0px;
  font-weight: bold;
}
#cs .ars_left, #cs .ars_right{
  width: 50%;
  padding: 20px 45px;
  box-sizing: border-box;
  float: left;
  display: flex; justify-content: space-around;
}
#cs .ars_left{
  border-right: 1px solid var(--s_color4);
}
#cs > article p{
  display: flex;
  flex-direction: column;
  line-height: 30px;
  align-items: center;
}
#cs p > a{
  color: var(--s_color3); font-weight: bold;
}
#cs strong{
  font-family: 500; font-size: var(--f_size2);
  display: block;
}
#cs .ars_left .car_icon, #cs .ars_right .member_icon{
  background: url(../images/bg-support-ars.png);
  display: inline-block;
  text-indent: -9999px;
  margin-top: 30px; height: 46px;
}
#cs .ars_left .car_icon{width: 75px; transform: translateY(30px);}
#cs .ars_right .member_icon{width: 60px; background-position: -90px 0px;}

#cs .ars_left > dl, #cs .ars_right > dl{
  text-align: left;
  line-height: 24px;
}
#cs .ars_left > dl > dt, #cs .ars_right > dl > dt{font-weight: bold;}
#cs .ars_left > dl > dd, #cs .ars_right > dl > dd{color: var(--f_color1);}

#cs > ul{display: flex; background-color: transparent; justify-content:space-between;}
#cs > ul > li{
  text-align: left;
  background-color: var(--m_bg_color);
  width: 200px;
  padding: 50px 40px;
  position: relative;
}
#cs > ul > li > h3{
  font-size: var(--f_size2); font-weight: bold; padding-bottom: 20px;
}
#cs > ul > li > p{
  font-size: var(--f_size1);
  text-align: left;
}
#cs > ul > li > p:first-of-type{font-weight: 500;}
#cs > ul > li > a{color: var(--s_color3); line-height: 50px;}
#cs > ul > li > .src_btn{
  display: block;
  width: 150px; height: 40px;
  background-color: var(--s_color2);
  color: var(--m_bg_color);
  text-align: center; line-height: 40px;
  position: absolute; left: 50%; transform: translateX(-50%); bottom: 45px;
}
#cs > ul > li:last-child a:first-of-type{
  display: block; text-align: center; margin-top: 30px; line-height: 0;
}
#cs > ul > li:last-child{text-align: center;}
#cs > ul > li:last-child > a{font-weight: bold; line-height: 20px;}

/* 플로트 속성 해지 */
.clearfix::after{
  clear:both;
  content: "";
  display: block;
}

/* 모달창 */
.modal{
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.6);
  position: fixed; top: 0;
  z-index: 9999;
}
.modal .m_inner{
  width: 350px; height: 500px; margin: 200px auto;
  background-color: var(--m_bg_color);
}
.modal .m_inner img{width: 100%;}
.modal .m_inner #ch{margin-top: 10px;}
.modal .m_inner label{font-size: 13px;}
.modal .m_inner #c_btn{
  float: right;margin: 4px;
  background-color: #f2f2f2;
  border: 1px solid #ccc; border-radius: 3px;
}